<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container">
  <form action="{% url 'update_data' id=old_data.id %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input class="form-control" value="{{ old_data.name }}" id="name" name="name">
    </div>
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input class="form-control" name="price" value="{{ old_data.price }}" >
    </div>
    <div class="mb-3">
      <label class="form-label">Type</label>
      <input class="form-control" value="{{ old_data.type }}" name="type">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>